.encabezado{
    background-color: rgb(24, 125, 203);
    display: flex;
    font-family: arial;
}

.imgFoto{
    width: 150px;
    margin-right: 20px;
}

.textoEncabezado{
    align-self: center;
    font-family: arial;
    color: white;
}

.contacto{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    font-family: arial;
    color: rgb(24, 125, 203);
}

.telefono{
    display: flex;
    justify-content: center;
    font-family: arial;
}

.imgTelefono{
   display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;width: 15px;
   height: 15px;
   margin-right: 10px;
}

.email{
    display: flex;
    justify-content: center;
    font-family: arial;
}

.imgEmail{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;width: 15px;
   height: 15px;
    margin-right: 10px;
}

.linkedin{
    display: flex;
    justify-content: center;
    font-family: arial;
}

.imgLinkedin{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;width: 15px;
   height: 15px;
    margin-right: 10px;
}

.objetivo{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    font-family: arial;
    color: rgb(24, 125, 203);

}

.objetivo1{
    display: flex;
    justify-content: center;
    font-family: arial;
}

.objetivo2{
    display: flex;
    justify-content: center;
    font-family: Arial;
    
}

.formacion{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    font-family: arial;
    color: rgb(24, 125, 203);
}

.programacion{
    display: flex;
    justify-content: center;
    font-family: arial;
}

.utn{
    display: flex;
    justify-content: center;
    font-family: arial;
}

.psiOrg{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: arial;
}

.unlar{
    display: flex;
    justify-content: center;
    font-family: arial;
}

.experiencia{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    font-family: arial;
    color: rgb(24, 125, 203);
}

.equipoTecnico{
    display: flex;
    justify-content: center;
    font-family: arial;
}

.puntoDigital{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: arial;
}

.auxiliar{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: arial;
}

.adicional{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    font-family: arial;
    color: rgb(24, 125, 203);
}

.a2023{
    display: flex;
    justify-content: center;
    font-family: arial;
}

.otros{
    display: flex;
    justify-content: center;
    font-family: arial;
    margin-block-end: 50px;
}

.año23{
    background-color: rgb(24, 125, 203);
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: arial;
    color: white;
}

.md{
    margin-top: 30px;
    color: rgb(24, 125, 203);
    display: flex;
    justify-content: center;
    font-family: arial;
}

.lr{
    display: flex;
    justify-content: center;
    font-family: arial;
}

.inicio{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    font-family: arial;
    margin-block-end: 50px;
}
