.encabezado{
    background-color: rgb(24, 125, 203);
    display: flex;
    font-family: arial;
}

.imgFoto{
    width: 150px;
    margin-right: 20px;
}

.textoEncabezado{
    align-self: center;
    font-family: arial;
}

.contacto{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    font-family: arial;
}

.telefono{
    display: flex;
    justify-content: center;
    font-family: arial;
}

.imgTelefono{
   display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;width: 15px;
   height: 15px;
   margin-right: 10px;
}

.email{
    display: flex;
    justify-content: center;
    font-family: arial;
}

.imgEmail{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;width: 15px;
   height: 15px;
    margin-right: 10px;
}

.linkedin{
    display: flex;
    justify-content: center;
    font-family: arial;
}

.imgLinkedin{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;width: 15px;
   height: 15px;
    margin-right: 10px;
}

.objetivo{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    font-family: arial;
}

.textoObjetivo{
    display: flex;
    width: 75%;
    justify-content: center;
    font-family: arial;
}

.textoObjetivo2{
    display: flex;
    width: 75%;
    justify-content: center;
    font-family: Arial;
}

.formacion{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    font-family: arial;
}
