/*LEER COMENTARIOS*/


.encabezado{
    background-color: rgb(24, 125, 203);
    display: flex;
    font-family: arial;
}

.imgFoto{
    width: 150px;
    margin-right: 20px;
}
/*Aplicamos el selector elemento,elemento y elemento elemento*/
.textoEncabezado h1,
.textoEncabezado h2 {
    align-self: center;
    font-family: arial;
    color: white;
}

.contacto{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    font-family: arial;
    color: rgb(24, 125, 203);
}

.telefono{
    display: flex;
    justify-content: center;
    font-family: arial;
}

/*Para que coicidan el tamaño de la imagen con el tamaño del párrafo, inspeccioné la página
para ver el css del párrafo. Copiamos y pegamos las propiedades y valores*/
.imgTelefono{
   display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;width: 15px;
   height: 15px;
   margin-right: 10px;
}

.email{
    display: flex;
    justify-content: center;
    font-family: arial;
}

.imgEmail{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;width: 15px;
   height: 15px;
    margin-right: 10px;
}

.linkedin{
    display: flex;
    justify-content: center;
    font-family: arial;
}

.imgLinkedin{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;width: 15px;
   height: 15px;
    margin-right: 10px;
}

.objetivo{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    font-family: arial;
    color: rgb(24, 125, 203);
}

.objetivo1 {
    display: flex;
    justify-content: center;
    font-family: Arial;
    text-align: center;
}


.objetivo2{
    display: flex;
    justify-content: center;
    font-family: Arial;
    text-align: center;
}

.formacion{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    font-family: arial;
    color: rgb(24, 125, 203);
}

.programacion{
    display: flex;
    justify-content: center;
    font-family: Arial;
    text-align: center;
}

.utn{
    display: flex;
    justify-content: center;
    font-family: Arial;
    text-align: center;
}

.psiOrg{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: Arial;
    text-align: center;
}

.unlar{
    display: flex;
    justify-content: center;
    font-family: Arial;
    text-align: center;
}

.experiencia{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    font-family: arial;
    color: rgb(24, 125, 203);
}

.equipoTecnico{
    display: flex;
    justify-content: center;
    font-family: Arial;
    text-align: center;
}

.puntoDigital{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: Arial;
    text-align: center;
}

.auxiliar{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: Arial;
    text-align: center;
}

.adicional{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    font-family: arial;
    color: rgb(24, 125, 203);
}

.a2023{
    display: flex;
    justify-content: center;
    font-family: Arial;
    text-align: center;
}

.otros{
    display: flex;
    justify-content: center;
    font-family: arial;
    margin-block-end: 50px;
}

.año23{
    background-color: rgb(24, 125, 203);
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: arial;
    color: white;
}

.md{
    margin-top: 30px;
    color: rgb(24, 125, 203);
    display: flex;
    justify-content: center;
    font-family: Arial;
    text-align: center;
}

.lr{
    display: flex;
    justify-content: center;
    font-family: Arial;
    text-align: center;
}

.inicio{
    font-size: 20px;
    color: white;
    margin-top: 60px;
    display: flex;
    bottom: auto;
    justify-content: center;
    font-family: arial;
    margin-block-end: 50px;
}

.idiomas{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    font-family: arial;
    color: rgb(24, 125, 203);
}

/*Elemento, elemento*/
table,th,td {
    font-family: arial;
    border: 1px solid rgb(24, 125, 203);;
    margin: auto;
    margin-block-end: 50px;
}

table{
width: 300px;
}

