.encabezado {
    background-color: rgb(24, 125, 203);
    display: flex;
}

.foto {
    width: 150px;
    margin-right: 20px;
}

.textoEncabezado {
    align-self: center;
}

.contactos{
    margin-top: 20px;
    justify-content: center;
}

.telefono {
    display: flex;
    justify-content: center;
}

.imgTelefono {
   width: 3%;
   height: 3%;
   margin-right: 20px;
  
}

.email{
    display: flex;
    justify-content: center;
}

.imgEmail{
    width: 3%;
    height: 3%;
    margin-right: 20px;
}